*.iml
.gradle
/local.properties
.idea
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
local.properties
/app/release/*
!/app/release/keepRules
/app/beta
/app/canary
/app/debug
signing.properties
/.kotlin
/library/hook
